<body>
  <mat-tab-group>
    <mat-tab label="Starter">
      <div *ngFor="let s of starters">
        <app-recipe [dish]="s"></app-recipe>
      </div>
    </mat-tab>
    <mat-tab label="Main Dish">
      <div *ngFor="let md of mainDishes">
        <app-recipe [dish]="md"></app-recipe>
      </div>
    </mat-tab>
    <mat-tab label="Dessert">
      <div *ngFor="let d of desserts">
        <app-recipe [dish]="d"></app-recipe>
      </div>
    </mat-tab>
    <mat-tab label="Shopping List">
      <app-shopping-list></app-shopping-list>
    </mat-tab>
  </mat-tab-group>
</body>